<%= form_with(model: cart, local: true) do |form| %>
  <% if cart.errors.any? %>
    <%= render partial: 'shared/form_errors', locals: {model_object: cart}%>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
