/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.products {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table tr td {
    padding: 5px;
    vertical-align: middle;
  }

  .list_image {
    width:  100px;
    height: 100px;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    1em;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:  aliceblue;
  }

  .list_line_odd {
    background:   turquoise;
  }
}

#notice {
  &.border-green {
    border-color: lightgreen;
  }
  &.loader{
    background-image: url('loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    border-color: yellow;
    height: 50px;
    &:empty {
      display: block;
    }
  }
}