<p id="notice" data-flash="response_msg"><%= notice %></p>

<h1>Products</h1>

<table>
  <%= render partial: "product", collection: @products %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
